<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/quiz.css">
</head>
<body>
    {{>header}}
  
<form id="cityForm">
        <label for="city">Enter city here</label>
        <input type="text" id="cityInput" name="city">
        <button value="Submit" type="submit">Submit</button>
    </form>
    <p id="message"></p>
<div class="grid">
 <div id="question"><u>Ready to change the world? Take this quiz to test your skills.</u></div>
<div class="container">
    <div id="question-container" class="hide">
        <div class="rightContainer"></div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">Answer 1</button>
        <button class="btn">Answer 2</button>
        <button class="btn">Answer 3</button>
        <button class="btn">Answer 4</button>
      </div>
     
    </div>
    <div class="controls">
      <button id="start-btn" class="start-btn btn">Start</button>
      <button id="next-btn" class="next-btn btn hide">Next</button>
    </div>
  </div>
  </div>
   


    <script src="./js/brooke.js"></script>
</script>
</body>
</html>