<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Map</title>
   <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/index.css">
    
</head>
<body>
    {{>header}}

      <div>
        <h1 id="popcity">Popular Cities' Air Qualities Index:</h1>
        <ul class="gridpop"></ul>
    </div>

    <div  id='map'  style='height:760px; width:2000px;'></div>

  

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWyhzbj3x1zDjbr_8XRquJpgwEaNyhsA0"></script>  
    <script src="/js/app.js"></script>
    <script src="/js/resources.js"></script>
    {{>footer}}
</body>
</html>