<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
<script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
</head>
<body>
    {{>header}}
    <div class="footer_col0">
        <h4>Unsubscribe</h4>
         <form method="post" action="/unsub">
            <input name="email" type="email" placeholder="Enter Email" class="inputEmail">
            <input type="submit" placeholder="Submit" class="inputSubmit">
         </form>
     </div>
    {{>footer}}
    <script src="./js/brooke.js"></script>
</body>
</html>