
<link rel="stylesheet" href="path_to_materialize.css">
<link rel="stylesheet" href="./css/footer.css">

<footer>

            <div class="grid">
         <article class="contact-info">

                <h2>SOCIAL MEDIA</h2>
 <div class="social-media-icons">
                        <ul>
                       <li><a href="www.facebook.com" target="_blank" title="Follow us on Facebook" aria-label="facebook">
                            <img src="./img/fbicon.svg" alt="Facebook Icon">
                        </a>
                        <a href="www.instagram.com" target="_blank" title="Follow us on Instagram" aria-label="instagram">
                            <img src="./img/igicon.svg" alt="Instagram Icon">
                        </a>
                        <a href="www.twitter.com" target="_blank" title="Follow us on Twitter" aria-label="twitter">
                            <img src="./img/twicon.svg" alt="Twitter Icon">
                        </a></li></ul>
                    </div>
                    

    
            </article>

            <article class="contact-info">
                <h2>Pages</h2>
                <ul class="#">
                    <li><a href="/" aria-label="terms">Home</a></li>
                    <li><a href="/news" aria-label="news">News</a></li>
                    <li><a href="/resources" aria-label="quality">Air Quality Resources</a></li>
                    <li><a href="/calculator" aria-label="quiz">Air Quality Identifer</a></li>
                    <li><a href="/unsub" aria-label="subscription">Unsubscribe</a></li>
                </ul>
            </article>

    <article class="contact-info">
                <h2>GET IN TOUCH</h2>
                <ul class="#">
                    <li>Crimes Against Earth</li>
                    <li>P.O. Box 78x8</li>
                    <li>Belmont, NC 280xx</li>
                    <li>1-800-7xx-8xxx</li>
                    <li><a href = "mailto:crimesagainstearth@gmail.com" id="emailcolor" aria-label="email">crimesagainstearth@gmail.com</a></li>
                </ul>
            </article>
        

    <h3>Created by Team 6</h3>
</footer>


