{{!-- 
<link rel="stylesheet" href="./css/footer.css">
<footer>

            <div class="grid">
         <article class="contact-info">

                <h2>SOCIAL MEDIA</h2>
 <div class="social-media-icons">
                        <ul>
                       <li> <a href="www.facebook.com" target="_blank" title="Follow us on Facebook" aria-label="facebook">
                            <img src="./img/fbicon.svg" alt="Facebook Icon">
                        </a></li>
                        <li>  <a href="www.instagram.com" target="_blank" title="Follow us on Instagram" aria-label="instagram">
                            <img src="./img/igicon.svg" alt="Instagram Icon">
                        </a></li>
                        <li>   <a href="www.twitter.com" target="_blank" title="Follow us on Twitter" aria-label="twitter">
                            <img src="./img/twicon.svg" alt="Twitter Icon">
                        </a></li></ul>
                    </div>
                    

    
            </article>

            <article class="contact-info">
                <h2>Pages</h2>
                <ul class="#">
                    <li><a href="/index" aria-label="terms">Home</a></li>
                    <li><a href="/news" aria-label="news">News</a></li>
                    <li><a href="/resources" aria-label="quality">Air Quality Location</a></li>
                    <li><a href="/calculator" aria-label="calculator">Air Quality Calculator</a></li>
                </ul>
            </article>


            <article class="contact-info">
                <h2>GET IN TOUCH</h2>
                <ul class="#">
                    <li>Reagents</li>
                    <li>P.O. Box 788</li>
                    <li>Belmont, NC 28012</li>
                    <li>1-800-732-8484</li>
                    <li><a href = "mailto:orders@tcpanalytical.com" id="emailcolor" aria-label="email">orders@tcpanalytical.com</a></li>
                </ul>
            </article>

    <h3>Created by Team 6</h3>
</footer> --}}