{{!-- <link rel="stylesheet" href="./css/header.css">

<header>
    
       <a href="/" id="logocenter"><img src="./img/icon.png" id="logo" alt="website homepage"></a>
    
            <nav id="navheadercolor">

            <li><a href="/">Homepage</a></li>
            <li><a href="/calculator">Calculator</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/resources">Resources</a></li>
              </nav>

    
</header> --}}