<header>
    <h1>{{title}}</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/resources">Resources</a></li>
    </ul>
</header>