.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-flow: row;
}

.items {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

footer {
    bottom: 0;
    background-color: #F1f1f1;
    /* background-image: linear-gradient(to right, #F99D25, rgba(0, 0, 0, 0.5)); */
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

footer ul {
    margin: 0;
    padding: 0px 15px;
}

footer li {
    list-style-type: none
}

footer a,
h2,
h1 {
    color: black;
}

footer a:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    color: black;
}

.copyright a {
    color: #F99D25;
}

.contact-info {
    padding: 20px;
    margin: 40px;
    margin-top: 1%;
    border-radius: 8px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    text-align: left;
    color: black;
}

.social-media-icons a img {
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 2%;
}


.langicon img {
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 2%;
    width: 9%;
    height: 9%;
}

.social-media-icons img:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

section.commitment {
    background-image: url("HC3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: white;
}

section.commitment li {
    padding: 10px;
}