header {
    background-color: #fff;
}

#navheadercolor {
    background-color: #000;
    padding: 2%;
    font-family: 'Poppins', sans-serif;
}

nav {
    
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

#logo {
    width: 35%;
    height: 35%;
    margin: 10px;
    padding: 10px;
}

#logocenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
