@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: hsla(249, 100%, 4%, 0.962);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}


/* THIS CHANGES PADDING OF THE ENTIRE PAGE  */
.main-content {
    flex-grow: 1;
    padding: 0 230px;
}

.main-wrappers {
    position: relative;
    padding: 20px; /* Adjust padding as needed for the main wrapper */
    box-sizing: border-box;
    margin: 0 auto; /* Center the main wrapper on the page */
}

.hero-text {
    text-align: center;
    position: absolute;
    font-size: 14px;
    top: 55%;
    left: 50%;
    color: white;
    font-style: italic;
    transform: translate(-50%, -50%);
}

.hero-image {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  box-shadow: rgba(163, 36, 217, 0.163) 0px 8px 24px, rgba(80, 2, 79, 0.1) 0px 16px 56px, rgba(114, 2, 162, 0.167) 0px 24px 80px;

  }

/* .hero-image img {
    filter: brightness(60%);
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
    object-position: center;
} */

video {
    margin-bottom: -3vh;
    width: 100%; /* Make the video fill the entire container width */
    height: auto; 
    z-index: -1; 
}

section {
    margin: 50px 0;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

#mission-statement {
    background-color: hsla(282, 96%, 10%, 0.88); 
    color: white;
    padding: 100px; 
    top: -1vh;
    border-radius: 25px;
    box-shadow: rgba(163, 36, 217, 0.163) 0px 8px 24px, rgba(80, 2, 79, 0.1) 0px 16px 56px, rgba(114, 2, 162, 0.167) 0px 24px 80px;


}

#mission-statement {
    font-size: 16pt;
}

#impacts h1 {
    text-align: center;
}

/* CARD NEW CONTENT  */
#card-container {
    gap: 30px;
    margin-top: 20px;
    display: flex;
}

/* space between PURPOSE text and cards */
#impacts h1 {
    margin-bottom: 5%;
    text-align: center;
    font-size: 25px; 
}

.card {
    text-align: center;
    background-color: hsla(282, 96%, 10%, 0.88); 
   
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px; 
    box-shadow: rgba(163, 36, 217, 0.163) 0px 8px 24px, rgba(80, 2, 79, 0.1) 0px 16px 56px, rgba(114, 2, 162, 0.167) 0px 24px 80px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 20px;
}

.card:hover {
    transform: scale(1.05); 
}

.card img {
    top: 10vh;
    width: 100%;
    object-fit: cover;
    bottom: -54px;  
    position: relative;
    margin: -3%;
}

.card img:nth-child(1) {
    height: 25vh; 
    border-radius: 13px 57px 0px 80px;
    border: 5px solid rgb(230, 230, 230);
    background-color: rgb(240, 240, 240);
}
.card-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.card-content p {
    margin-top: 10vh;
    margin-bottom: 10px;
    font-size: 14px; 
    line-height: 1.5; 
    color: white; 
}

.card-title-container {
    position: absolute;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 85%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-title-container h2 {
    text-align: center;
    margin: 0;
    font-size: 21px;
    color: #2b2b2b;
}

.card-action {
    background-color: #906b6b;
    padding: 10px;
    text-align: center;
    margin-top: auto; 

}

.card-action a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.card-action a:hover {
    color: #ffffff;
}


/* newsletter info box  */

.newsletter-container {
    background-color: hsla(282, 96%, 10%, 0.88); 
    box-shadow: rgba(163, 36, 217, 0.163) 0px 8px 24px, rgba(80, 2, 79, 0.1) 0px 16px 56px, rgba(114, 2, 162, 0.167) 0px 24px 80px;

    padding: 1px;
    width: 100%; 
    box-sizing: border-box;
}

.footer_col0 {
    margin-top: 2vw;
    margin-bottom: 2vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    position: relative;
    background-color: hsla(282, 96%, 10%, 0.88); 
}

.footer_col0 h4 {
    color: #fff;
    margin-bottom: 1px;
    font-size: 24px;
    display: inline-block;
    margin-top: 20px;
}

.footer_col0 input {
    border: none;
    height: 35px;
    margin: 14px 5px; 
    width: 16vw;
}

.footer_col0 .input-container {
    position: relative;
    display: flex;
    align-items: center;
}


.footer_col0 .inputSubmit {
    padding: 0px 20px;
    background-color: rgb(105, 86, 82);
    border: none;
    color: #fff;
}

.footer_col0 .inputSubmit:hover {
    background-color: rgb(192, 172, 154);
    color: #fff;
}

h3 {
    text-align: center;
    margin-top: 0; 

}