@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 100%;


    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Poppins', sans-serif;
}

.main-content {
    flex-grow: 1;
    padding: 0 250px;
}

.hero-text {
    text-align: center;
    position: absolute;
    font-size: 14px;
    top: 55%;
    left: 50%;
    color: white;
    font-style: italic;
    transform: translate(-50%, -50%);
}

.hero-image img {
    filter: brightness(60%);
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
    object-position: center;
}

video {
    width: 100%; /* Make the video fill the entire container width */
    height: auto; /* Maintain the video's aspect ratio */
    border-radius: 10px; /* Add rounded corners if desired *//
}

section {
    margin: 50px 0;
}

#mission-statement {
    background-color: #d5d5d5;
    padding: 100px; 
}

#mission-statement {
    font-size: 16pt;
}

#impacts h1 {
    text-align: center;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: 1fr;
}

.card {
    text-align: center;
    background-color: #d5d5d5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


* newsletter info box  */

.footer_col0 {
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    padding: 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* bottom: 0; */
    position:relative;
    width: 100vw;
    background-color: #222;
}

.footer_col0 h4 {
    color: #855656;
    margin-bottom: 25px;
    font-size: 20px;
    position: relative;
    display: inline-block;  
    margin-top: 20px;

}

.footer_col0 input {
    border: none;
    width: 250px;
    height: 35px;
    /* display: block; */
    padding-left: 20px;
    margin: 14px 0;
}

/* button for newsletter */
.footer_col0 .inputSubmit {
    padding: 0px 20px;
    background-color: rgb(105, 86, 82);
    border: none;
    color: #fff;
}


/* SUBMIT BUTTON HOVER */
.footer_col0 .inputSubmit:hover {
    background-color: rgb(192, 172, 154);
    color: #fff;
}
