*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    background-color: hsl(var(--hue), 100%, 90%);
    margin-left: 40px;
  }
  
  .btn-grid {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
    color: white;
    outline: none;
    font-size: 20px;
    transition: transform 0.5s ease-in-out;
  }
  
  .btn:hover {
    border-color: black;
    transform: scale(1.1); 
  cursor: pointer;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  #question{
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
  }

  #question.active {
    opacity: 1;
    transform: translateY(0); 
     font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    padding-left: 10%; 
  }

  .grid{
    display: grid;
  grid-template-columns: 1fr 1fr;
  }
