@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color:hsla(248, 94%, 6%, 0.991);

  }
  
/* image slideshow */


.slideshow-container {
  max-width: 100vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  
}

.slides {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.slides.fade {
  opacity: 1;
  display: block;
  width: 100vw;
  height: fit-content;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 0;}
}

.slides img {
  height: 600px;
  width: 100vw;
  object-fit: cover;
}

  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    background-color: hsl(var(--hue), 100%, 96%);
    height: fit-content;
    margin-bottom: 20px;
  }
  
  .btn-grid {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
    color: white;
    outline: none;
    font-size: 20px;
    transition: transform 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;

  }
  
  .btn:hover {
    border-color: black;
    transform: scale(1.1); 
  cursor: pointer;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .hide {
    display: none;
  }

  #question{
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
    font-family: 'Poppins', sans-serif;
    color: white;
  }

  #question.active {
    opacity: 1;
    transform: translateY(0); 
     font-size: 40px;
     font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    width: 75%;
    margin-bottom: 20px;
    padding: 10px;
  }
 
  .grid{
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: rgba(163, 36, 217, 0.163) 0px 8px 24px, rgba(80, 2, 79, 0.1) 0px 16px 56px, rgba(114, 2, 162, 0.167) 0px 24px 80px;
background-color: hsla(282, 96%, 10%, 0.88); 

  } 

  .allDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  .rightDiv{
    justify-content: center;
    text-align: center;
    width: 750px;
    height: 550px;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    padding-bottom: 15px;
    margin-top: 20px;
    box-shadow: rgba(163, 36, 217, 0.163) 0px 8px 24px, rgba(80, 2, 79, 0.1) 0px 16px 56px, rgba(114, 2, 162, 0.167) 0px 24px 80px;
background-color: hsla(282, 96%, 10%, 0.88); 
 
  }
  h2{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    color: white;
  }

  #cityInput{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
  }

  #cityForm{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
   align-items: center;
   margin-bottom: 15px;
  }

  #message{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }


  .formButton{
width: 150px;
height: 50px;
font-family: 'Poppins', sans-serif;
border-radius: 10px;
background-color: #906b6b;
color: white;
  }
  .formButton:hover{
    transform: scale(1.1); 
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  }
  .innovationimg{
    display: flex;
    width: 53vw;
    margin-left: 10px;
  }
  .innovationsection{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    color: white;
  }
  .innovationp{
    font-size: 1rem;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 700px;
    margin-right: 15px;
    padding: 25px;
    box-shadow: rgba(163, 36, 217, 0.163) 0px 8px 24px, rgba(80, 2, 79, 0.1) 0px 16px 56px, rgba(114, 2, 162, 0.167) 0px 24px 80px;
background-color: hsla(282, 96%, 10%, 0.88); 
    
  }
  p{
    font-family: 'Poppins', sans-serif;
  }
  .topsection{
    display: flex;
  }
  .aqiimg{
    margin: auto;
    width: 40%;
    height: 50%;
  }